<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

  <!-- Define targets -->
  <targets>
    <!-- Async file target for shared folder safety -->
    <target name="asyncFile" xsi:type="AsyncWrapper" queueLimit="1000" overflowAction="Discard">
      <target xsi:type="File"
              name="fileTarget"
              fileName="Logs/PDFCompressor_${environment:USERNAME}_${environment:COMPUTERNAME}_${shortdate}.log"
              layout="${longdate} [${level:uppercase=true}] [${logger}] ${message} ${exception:format=tostring}"
              archiveFileName="Logs/archive/PDFCompressor_${environment:USERNAME}_${environment:COMPUTERNAME}_{#}.log"
              archiveNumbering="Rolling"
              archiveEvery="Day"
              maxArchiveFiles="7"
              concurrentWrites="true"
              keepFileOpen="false"
              encoding="utf-8"
              createDirs="true" />
    </target>

    <!-- Console target for debugging -->
    <target xsi:type="Console"
            name="consoleTarget"
            layout="${time} [${level:uppercase=true}] [${logger}] ${message}" />

    <!-- Debug target for Visual Studio output -->
    <target xsi:type="Debugger"
            name="debuggerTarget"
            layout="${time} [${level:uppercase=true}] [${logger}] ${message}" />
  </targets>

  <!-- Define rules -->
  <rules>
    <!-- Skip Microsoft and System logs -->
    <logger name="Microsoft.*" minlevel="Trace" maxLevel="Fatal" final="true" />
    <logger name="System.*" minlevel="Trace" maxLevel="Fatal" final="true" />

    <!-- Log to file for Info and above -->
    <logger name="*" minlevel="Info" writeTo="asyncFile" />

    <!-- Log to console and debugger for Debug and above -->
    <logger name="*" minlevel="Debug" writeTo="consoleTarget" />
    <logger name="*" minlevel="Debug" writeTo="debuggerTarget" />
  </rules>
</nlog>